@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.app-header {
  display: flex;
  justify-content: flex-end;
}

.applauncher {
  height: 14px;
}

.app-header-menu {
  display: flex;
  padding: 10px;
  padding-right: 20px;
  margin-top: 15px;
  gap: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.app-header-menu:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.avatar-image {
  height: 25px;
  border-radius: 50%;
  align-items: center;
}

@media only screen and (max-width: 748px) {
  .app-header-menu {
    font-size: 11px;
  }
  .avatar-image {
    height: 15px;
  }
  .applauncher {
    height: 10px;
  }
}
